In [1]:
import pandas as pd
import numpy as np

In [12]:
# Lire le fichier CSV à partir de GitHub en utilisant l'URL brute
url = 'https://raw.githubusercontent.com/chtolo/data-mining/main/boston-housing.csv'
boston_housing = pd.read_csv(url)

# Afficher les premières lignes du DataFrame pour vérification
print(boston_housing.head())

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  none  4.0900    1  ***     15.3
1  0.00632  18.0   2.31     0  0.538  6.575  none  4.0900    1  ***     15.3
2  0.00632  18.0   2.31     0  0.538  6.575  none  4.0900    1  ***     15.3
3  0.02731   0.0   7.07     0  0.469  6.421  1000  4.9671    2  242     17.8
4  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8

        b  lstat     medv
0  396.90   4.98     none
1  396.90   4.98     none
2  396.90   4.98     none
3  396.90   9.14     none
4  392.83   4.03  34.7 m$

In [13]:
boston_housing.shape   #Dimensions of the Dataframe

(512, 14)

In [14]:
boston_housing.dtypes

crim       float64
zn         float64
indus      float64
chas         int64
nox        float64
rm         float64
age         object
dis        float64
rad          int64
tax         object
ptratio    float64
b          float64
lstat      float64
medv        object
dtype: object

# **#afficher les problèmes potentiels de mon dataset**

In [15]:
#afficher les problèùes potentiels de mon dataset

# Charger le jeu de données
url = 'https://raw.githubusercontent.com/chtolo/data-mining/main/boston-housing.csv'
df = pd.read_csv(url)

# Vérifier les données manquantes
valeurs_manquantes = df.isnull().sum()
print("Valeurs manquantes :\n", valeurs_manquantes)

# Vérifier les types de données
types_de_donnees = df.dtypes
print("\nTypes de données :\n", types_de_donnees)

# Vérifier les statistiques descriptives
statistiques_descriptives = df.describe()
print("\nStatistiques descriptives :\n", statistiques_descriptives)

# Vérifier les duplicatas
duplicatas = df.duplicated().sum()
print("\nNombre de duplicatas :", duplicatas)

Valeurs manquantes :
 crim       0
zn         0
indus      0
chas       0
nox        0
rm         0
age        0
dis        0
rad        0
tax        0
ptratio    0
b          0
lstat      0
medv       0
dtype: int64

Types de données :
 crim       float64
zn         float64
indus      float64
chas         int64
nox        float64
rm         float64
age         object
dis        float64
rad          int64
tax         object
ptratio    float64
b          float64
lstat      float64
medv        object
dtype: object

Statistiques descriptives :
              crim          zn       indus        chas         nox          rm  \
count  512.000000  512.000000  512.000000  512.000000  512.000000  512.000000
mean     3.576041   11.300781   11.067246    0.068359    0.554343    6.282598
std      8.557940   23.210543    6.857233    0.252608    0.115286    0.702628
min      0.006320    0.000000    0.460000    0.000000    0.385000    3.561000
25%      0.081437    0.000000    5.130000    0.000000    0.449000    5.883000
50%      0.256510    0.000000    9.125000    0.000000    0.538000    6.208500
75%      3.594927   12.500000   18.100000    0.000000    0.624000    6.620500
max     88.976200  100.000000   27.740000    1.000000    0.871000    8.780000

              dis         rad     ptratio           b       lstat
count  512.000000  512.000000  512.000000  512.000000  512.000000
mean     3.800631    9.470703   18.458594  356.513145   12.603145
std      2.095786    8.687391    2.170033   90.957447    7.122803
min      1.129600    1.000000   12.600000    0.320000    1.730000
25%      2.102875    4.000000   17.375000  375.085000    6.915000
50%      3.267450    5.000000   19.050000  391.440000   11.360000
75%      5.141475   24.000000   20.200000  396.250000   16.910000
max     12.126500   24.000000   22.000000  396.900000   37.970000

Nombre de duplicatas : 6


**suppression des lignes duppliqés**
---

In [31]:
# Supprimer les duplicatas
boston_housing.drop_duplicates(inplace=True)

In [32]:
# Supprimer les duplicatas
boston_housing.drop_duplicates(inplace=True)

# Afficher les premières lignes du DataFrame après suppression des duplicatas
print(boston_housing.head())

# Ou afficher le DataFrame entier
print(boston_housing)

      crim    zn  indus  chas    nox     rm   age     dis  rad  tax  ptratio  \
0  0.00632  18.0   2.31     0  0.538  6.575  none  4.0900    1  ***     15.3
3  0.02731   0.0   7.07     0  0.469  6.421  1000  4.9671    2  242     17.8
4  0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242     17.8
5  0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  ***     18.7
6  0.06905   0.0   2.18     0  0.458  7.147  none  6.0622    3  222     18.7

        b  lstat       medv
0  396.90   4.98  22.544882
3  396.90   9.14  22.544882
4  392.83   4.03  34.700000
5  394.63   2.94  33.400000
6  396.90   5.33  36.200000
        crim    zn  indus  chas    nox     rm   age     dis  rad  tax  \
0    0.00632  18.0   2.31     0  0.538  6.575  none  4.0900    1  ***
3    0.02731   0.0   7.07     0  0.469  6.421  1000  4.9671    2  242
4    0.02729   0.0   7.07     0  0.469  7.185  61.1  4.9671    2  242
5    0.03237   0.0   2.18     0  0.458  6.998  45.8  6.0622    3  ***
6    0.06905   0.0   2.18     0  0.458  7.147  none  6.0622    3  222
..       ...   ...    ...   ...    ...    ...   ...     ...  ...  ...
507  0.06263   0.0  11.93     0  0.573  6.593  69.1  2.4786    1  273
508  0.04527   0.0  11.93     0  0.573  6.120  76.7  2.2875    1  273
509  0.06076   0.0  11.93     0  0.573  6.976  91.0  2.1675    1  273
510  0.10959   0.0  11.93     0  0.573  6.794  89.3  2.3889    1  273
511  0.04741   0.0  11.93     0  0.573  6.030  80.8  2.5050    1  273

     ptratio       b  lstat       medv
0       15.3  396.90   4.98  22.544882
3       17.8  396.90   9.14  22.544882
4       17.8  392.83   4.03  34.700000
5       18.7  394.63   2.94  33.400000
6       18.7  396.90   5.33  36.200000
..       ...     ...    ...        ...
507     21.0  391.99   9.67  22.400000
508     21.0  396.90   9.08  20.600000
509     21.0  396.90   5.64  23.900000
510     21.0  393.45   6.48  22.000000
511     21.0  396.90   7.88  11.900000

[506 rows x 14 columns]


# **Nettoyagede la colonne 'medv'**

In [33]:
# Affichage de la colonne 'medv'
print(df['medv'])

0         none
1         none
2         none
3         none
4      34.7 m$
        ...
507       22.4
508       20.6
509       23.9
510       22.0
511       11.9
Name: medv, Length: 512, dtype: object

In [34]:
# Convertir la colonne 'medv' en type string
boston_housing['medv'] = boston_housing['medv'].astype(str)

# Extraire les valeurs numériques de la colonne 'medv' et les convertir en float
boston_housing['medv'] = boston_housing['medv'].str.extract('(\d+\.?\d*)').astype(float)

In [35]:
# Calculer la moyenne des valeurs non NaN dans la colonne 'medv'
mean_medv = boston_housing['medv'].mean()

In [36]:
# Remplacer les valeurs NaN par la moyenne des valeurs non NaN
boston_housing['medv'].fillna(mean_medv, inplace=True)

In [37]:
# Afficher la colonne 'medv' après nettoyage
print(boston_housing['medv'])

0      22.544882
3      22.544882
4      34.700000
5      33.400000
6      36.200000
         ...
507    22.400000
508    20.600000
509    23.900000
510    22.000000
511    11.900000
Name: medv, Length: 506, dtype: float64

# **nettoyage de colonne tax**

In [39]:
# Affichage de la colonne 'tax'
print(df['tax'])

0      ***
1      ***
2      ***
3      242
4      242
      ...
507    273
508    273
509    273
510    273
511    273
Name: tax, Length: 512, dtype: object

In [40]:
# Remplacer les valeurs "***" par NaN
boston_housing['tax'] = boston_housing['tax'].replace('***', np.nan)

In [41]:
# Convertir la colonne 'tax' en nombres flottants
boston_housing['tax'] = pd.to_numeric(boston_housing['tax'])

In [42]:
# Calculer la moyenne de la colonne 'tax'
mean_tax = boston_housing['tax'].mean()

In [43]:
# Remplacer les NaN par la moyenne de la colonne 'tax'
boston_housing['tax'].fillna(mean_tax, inplace=True)

In [44]:
# Afficher la colonne 'tax' après nettoyage
print(boston_housing['tax'])

0      409.219124
3      242.000000
4      242.000000
5      409.219124
6      222.000000
          ...
507    273.000000
508    273.000000
509    273.000000
510    273.000000
511    273.000000
Name: tax, Length: 506, dtype: float64

# **nettoyage de colonne age**

In [45]:
# Afficher la colonne 'age'
print(boston_housing['age'])

0      none
3      1000
4      61.1
5      45.8
6      none
       ...
507    69.1
508    76.7
509    91.0
510    89.3
511    80.8
Name: age, Length: 506, dtype: object

In [46]:

# Définir un seuil pour l'âge maximal acceptable
age_max = 120  # Supposons que 120 soit un âge maximal raisonnable

In [48]:
# Convertir la colonne 'age' en nombres flottants
boston_housing['age'] = pd.to_numeric(boston_housing['age'], errors='coerce')

# Définir un seuil pour l'âge maximal acceptable
age_max = 120  # Supposons que 120 soit un âge maximal raisonnable

# Remplacer les valeurs aberrantes par NaN
boston_housing.loc[boston_housing['age'] > age_max, 'age'] = np.nan

In [49]:
# Calculer la moyenne des âges (en excluant les valeurs NaN)
mean_age = boston_housing['age'].mean()

In [50]:
# Remplacer les valeurs NaN par la moyenne des âges
boston_housing['age'].fillna(mean_age, inplace=True)

In [51]:
# Afficher la colonne 'age'  après traitement
print(boston_housing['age'])

0      68.589662
3      68.589662
4      61.100000
5      45.800000
6      68.589662
         ...
507    69.100000
508    76.700000
509    91.000000
510    89.300000
511    80.800000
Name: age, Length: 506, dtype: float64

# **dataframe après basic cleaning & preparation**

In [52]:

# Afficher le DataFrame après le nettoyage et la suppression des duplicatas
print("\nDataFrame après nettoyage et suppression des duplicatas :\n", boston_housing)

DataFrame après nettoyage et suppression des duplicatas :
         crim    zn  indus  chas    nox     rm        age     dis  rad  \
0    0.00632  18.0   2.31     0  0.538  6.575  68.589662  4.0900    1
3    0.02731   0.0   7.07     0  0.469  6.421  68.589662  4.9671    2
4    0.02729   0.0   7.07     0  0.469  7.185  61.100000  4.9671    2
5    0.03237   0.0   2.18     0  0.458  6.998  45.800000  6.0622    3
6    0.06905   0.0   2.18     0  0.458  7.147  68.589662  6.0622    3
..       ...   ...    ...   ...    ...    ...        ...     ...  ...
507  0.06263   0.0  11.93     0  0.573  6.593  69.100000  2.4786    1
508  0.04527   0.0  11.93     0  0.573  6.120  76.700000  2.2875    1
509  0.06076   0.0  11.93     0  0.573  6.976  91.000000  2.1675    1
510  0.10959   0.0  11.93     0  0.573  6.794  89.300000  2.3889    1
511  0.04741   0.0  11.93     0  0.573  6.030  80.800000  2.5050    1

            tax  ptratio       b  lstat       medv
0    409.219124     15.3  396.90   4.98  22.544882
3    242.000000     17.8  396.90   9.14  22.544882
4    242.000000     17.8  392.83   4.03  34.700000
5    409.219124     18.7  394.63   2.94  33.400000
6    222.000000     18.7  396.90   5.33  36.200000
..          ...      ...     ...    ...        ...
507  273.000000     21.0  391.99   9.67  22.400000
508  273.000000     21.0  396.90   9.08  20.600000
509  273.000000     21.0  396.90   5.64  23.900000
510  273.000000     21.0  393.45   6.48  22.000000
511  273.000000     21.0  396.90   7.88  11.900000

[506 rows x 14 columns]